<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-packages-list" version="1.0.2"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>PackagesList</name>

    <js-module name="PackagesList" src="www/PackagesList.js">
        <clobbers target="cordova.plugins.packagesList" />
    </js-module>

    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="PackagesList">
                <param name="android-package"
                       value="es.japgcv.packageslist.PackagesList" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <queries>
                <intent>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent>
            </queries>
        </config-file>

        <source-file
            src="src/android/es/japgcv/packageslist/PackagesList.java"
            target-dir="src/es/japgcv/packageslist" />

    </platform>

</plugin>